* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
}

.lm-card {
  height: 300px;
}
.lm-card .col-text h6,
.lm-card .col-text p {
  font-size: 14px;
  color: #fff;
}
.lm-card .image {
  height: 200px;
  overflow: hidden;
}